/*
Color Pallette:
dark blue: #25283d
salmon: #e85f5c
raspberry: #773344
light raspberry: #cc9faa
pink beige: #e3b5a4
snow purple: #f2f7f2
light blue: bcc2e7
*/

/* Global styles
-----------------------*/

html {
    box-sizing: border-box; 
}

*, *:before, *:after {
    box-sizing: inherit 
}

body {
   font-family: sans-serif;
   line-height: 150%;
   margin: 0;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}

.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}

.col-narrow {
    width: 30%;
    float: left;
    min-height: 175px;
}

/* header / footer
-----------------------*/

header, footer {
    background: #25283d;
    color: #f2f7f2;
}

/* header
-----------------------*/

header h1, header h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


h1 {
    font-size: 50px;
}

h2 {
    margin-top: 0;
}

/* sections
-----------------------*/
.work {
    background: #e3b5a4;
}

.education {
    background: #aec1ff;
}

/* footer
-----------------------*/
footer {
    text-align: center;
}

a {
    color: rgb(226, 97, 118);
    background: white;
    padding: 5px;
    margin: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}